<div>Hi {{name|upper}}</div>
{#strucure %% #}
{% for departement in departements %}
    <li>{{departement}}</li>
{% endfor %}    
{#if#}

{% if(teacher_connected == TRUE) %}
    <p>Hi teacher, you are connected</p>
{% else %}
    <p>{{'Access denied'|upper}} {{"now"|date("d/m/Y")}}</p>
{% endif %}  

